@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .callback-button-bg {
    background: radial-gradient(circle, #dab37f 35%, #ce9954 100%);
  }

  .callback-button-shadows {
    box-shadow:
      0px 0px 37.1px 2px #bd945c,
      0px 4px 0px 1px #bd945c;
  }

  .for-who-block {
    background: radial-gradient(circle, #fff4e5 0%, #f3dfc5 100%);
  }

  @media screen and (max-width: 600px) {
    .for-who-block {
      background: url('../../public/images/help_mobile_footage.png');
      background-position: right;
      background-size: cover;
    }
  }

  .for-who-footage {
    background: radial-gradient(circle, #fff4e5 0%, #f3dfc5 100%);
  }

  .for-who-text-grad {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      #fff3e4 20%,
      #fff3e4 100%
    );
  }

  .author-wrapper {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      #fff 20%,
      #fff 100%
    );
  }

  .callback-button-text{
    background: linear-gradient(to bottom, #6A5B49 0%, #4C3A24 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
